<p>Welcome <%= @user.username %>!</p>

<p>We're delighted to welcome you to AreYouTaken—the  dating site that encourages you to get offline on real dates, in the real world.
</p>

The first step to getting offline dates would be to update your profile by visiting <%= link_to "Your profile", user_url(@user) %>.</p><p>

Then post a date idea. Start with the words "Let's Go..." and describe the date you would like to go on.</p><p>
	
Browse our members and connect with the people you like by sending a message, liking their picture, playing speed date or responding to their date idea.</p><p>

The last step is to get offline!</p><p>

Start dating offline at <%= link_to "AreYouTaken.com", root_path %>.