<div id="body_container">
    <div class="wrapper">
        <div id="top_sec">
            <div class="tab_contr">
              <center> <h1> 	Frequently Asked Questions

			</h1></center>
                </br>

				
					<section>
					<h1 class="serif font_24">For Starters</h1>
					<a class="bold" href="#difference">
					What makes AreYouTaken different from the other dating websites?
					</a><P>
					<a class="bold" href="#get_the_most">
					How can I get the most out of my experience?
					</a></br>
					<a class="bold" href="#better_idea">
					Can I share my idea to make your site better?
					</a>
					</section>
					
						<section>
						<h1 class="serif font_24">Subscription Benefits</h1>
						<a class="bold" href="#cost">
						Does it cost money to use the website? What can I do for free?
						</a></br>
						<a class="bold" href="#upgrade_benefits">
						What do I get when I upgrade my account?
						</a></br>
						<a class="bold" href="#packages">
						What are your subscription packages?
						</a></br>
						<a class="bold" href="#why_do_you_charge">
						Why do you charge so little? Just make your service free!
						</a></br>
						<a class="bold" href="#free_messages_from_others">
						If I upgrade, can other people message me for free?
						</a><P>
						</section>
					<section>
					<h1 class="serif font_24">Billing information and subscription settings</h1>
					<a class="bold" href="#deactivation">
					How do I deactivate my account?
					</a></br>
					<a class="bold" href="#auto_renew">
					How do I turn auto-renew off?
					</a></br>
					<a class="bold" href="#refunds">
					What is your refund policy?
					</a></br>
					<a class="bold" href="#billing_info">
					How can I change my billing information?
					</a><p>
					</section>
					<section>
					<h1 class="serif font_24">Your profile & account settings</h1>
					<a class="bold" href="#fill_out_profile">
					How do I fill out my profile?
					</a></br>
					<a class="bold" href="#change_username">
					How can I change my username?
					</a><P>
					</section>

					<section>
					
					<br>
					<p>
					If your question is not answered here, feel free to email us at
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					with your username and concern. If your issue is technical in nature, please include
					as much relevant information as possible
					including your issue, browser, device you are using, and error messages.
					</p>
					<!-- ***** The Basics *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">The Basics</h1>
					<dt class="serif">
					<span class="push" id="difference"></span>
					<h2 class="font_22">What makes AreYouTaken different?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					AreYouTaken eliminates the long questionnaires and the fancy algorithms to take online dating back to the basics. Dating companies have added a lot of busy features that claim to help you find the perfect match, but in reality their goal is to increase the amount of time you spend on their website. The more time you spend on their website, the more valuable their company is.<p>
					
				We encourage users to spend less time online by stripping away those features and using their time meeting people in the real world. Browse our large photos (say bye bye to the small boxes) to get a good look at each user and post a date so you can get offline.
				
	
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="get_the_most"></span>
					<h2 class="font_22">How can I get the most out of my AreYouTaken experience?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<ol>
					<li>Sign up</li>
					<li>Upload a photo</li>
					<li>Fill out your profile</li>
					<li>Post a date</li>
					<li>Message the people you like</li>
					<li>Get offline!</li>
					</ol>
				
					<a href="/date-ideas">
					Date Ideas
					</a>
					sections for popular ideas in your area!
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
				
					<dt class="serif">
					<span class="push" id="better_idea"></span>
					<h2 class="font_22">I have an idea about how to make your site better.</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Cool! Email
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					to submit your ideas and feedback. Thanks for helping us improve!
					</p>
					<br>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					
					<!-- ***** Subscription Benefits *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Subscription Benefits</h1>
					<dt class="serif">
					<span class="push" id="cost"></span>
					<h2 class="font_22">Does AreYouTaken cost money? What can I do for free?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>As a free subscriber, you can:</p>
					<ul class="bullets">
					<li>Post dates</li>
					<li>Browse dates and people</li>
					<li>Ask users out on dates</li>
					<li>Fill out your profile</li>
					<li>Check out other profiles</li>
					<li>Message other people</li>
					<li>Say I'm interested</li>
					</ul>
					<p><p>
					In order to gain full messaging capabilities and other benefits such as Speed Date, you'll need to upgrade your account.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="upgrade_benefits"></span>
					<h2 class="font_22">What do I get when I upgrade?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>Member benefits include the ability to:</p>
					<ul class="bullets">
					<li>Send unlimited messages</li>
					<li>Receive and read unlimited messages</li>
					<li>Respond to your Interested dates</li>
					<li>Receive top priority customer service</li>
					<li>Get more dates.</li>
					</ul>
					<p>
					
					<a href="/settings">Settings</a>
					page.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="packages"></span>
					<h2 class="font_22">What are your subscription packages?</h2>
					<dd class="serif">
					<div class="padder">
					<p>
					Our 1-month package is the most popular and the 12-month
					package is the best value.
					</p>
					</div>
					<a href="#top">Return to top</a>
					</dd>
					</dt>
					<dt class="serif">
					<span class="push" id="why_do_you_charge"></span>
					<h2 class="font_22">Why do you charge so little? Just make your service free!</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We charge a small amount because we think it's absurd that the average dating site customer pays $243 per year. We are here to help you find love, and that should only take a few dollars to meet people online. We went against a free model because we did not want to interrupt your dating experience with annoying advertisements. Also when users are paying, they are more committed to really using the site and are serious about dating. A paying model will discourage sketchy people from joining.
					</p>

					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="free_messages_from_others"></span>
					<h2 class="font_22">If I upgrade, can other people message me for free?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>Yes, all registered members can send messages.</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Billing Info & Subscription Settings *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Billing information and subscription settings</h1>
					<dt class="serif">
					<span class="push" id="deactivation"></span>
					<h2 class="font_22">How do I deactivate my account?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can contact us at <a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a> with an request.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
				
				
				
					<dt class="serif">
					<span class="push" id="auto_renew"></span>
					<h2 class="font_22">Can I turn auto-renew off?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					 If you'd like to turn auto-renew off, visit the Settings page, scroll to Your Subscription and click "Unsubscribe".
					</p>
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
				
					<dt class="serif">
					<span class="push" id="refunds"></span>
					<h2 class="font_22">What is your refund policy?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You are eligible for a refund within 3 days of any transaction. If you’d like a refund, please email us
					at <a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a> with the reason for your refund request.
					Refunds are reflected in your account within 5 business days.
					</p>
					<p>
					Auto-renewal fees are not refunded if requested more than 3 days after billing. If you wish to turn off auto-renew, simply visit your Settings page and cancel subscription.
					</p>
					<p>
					If you deactivate your account before your subscription term has ended, you forfeit the remainder of your subscription
					term, and will not be refunded for the unused time.
					</p>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="billing_info"></span>
					<h2 class="font_22">How can I change my billing information?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can change your billing information at any time from the Settings page under Your Subscription.
					</p>
					</div>
					</dd>
					</dl>
					<!-- ***** Your Profile & Account Settings *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Your profile &amp; account settings</h1>
					<dt class="serif">
					<span class="push" id="fill_out_profile"></span>
					<h2 class="font_22">How do I fill out my profile?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can add/edit info by visiting your profile at any time. Click on the information you want to fill in and an edit box will appear. Hit enter on your keyboard to save or click your mouse on the screen away from the box you entered the text.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
				
				
					<dt class="serif">
					<span class="push" id="change_username"></span>
					<h2 class="font_22">How can I change my username?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We are happy to change your username for you. Simply email
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					and we will send you further information.
					Because your username is public, it's not advisable to include any personal information.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
				
				
				
			
		
					</div>
					</div>
					</div>

					</div>
					</section>

            </div>
        </div>
    </div>
</div>
