<div id="body_container">
    <div class="wrapper">
        <div id="top_sec">
            <div class="tab_contr">
              <center> <h1> 	Frequently Asked Questions

			</h1></center>
                </br>

				
					<section>
					<h1 class="serif font_24">For Starters</h1>
					<a class="bold" href="#difference">
					What makes AreYouTaken different from the other dating websites?
					</a><P>
					<a class="bold" href="#get_the_most">
					How can I get the most out of my experience?
					</a></br>
					<a class="bold" href="#better_idea">
					Can I share my idea to make your site better?
					</a>
					</section>
					
						<section>
						<h1 class="serif font_24">Subscription Benefits</h1>
						<a class="bold" href="#cost">
						Does it cost money to use the website? What can I do for free?
						</a></br>
						<a class="bold" href="#upgrade_benefits">
						What do I get when I upgrade my account?
						</a></br>
						<a class="bold" href="#packages">
						What are your subscription packages?
						</a></br>
						<a class="bold" href="#why_do_you_charge">
						Why do you charge so little? Just make your service free!
						</a></br>
						<a class="bold" href="#free_messages_from_others">
						If I upgrade, can other people message me for free?
						</a><P>
						</section>
					<section>
					<h1 class="serif font_24">Billing information and subscription settings</h1>
					<a class="bold" href="#deactivation">
					How do I deactivate my account?
					</a></br>
					<a class="bold" href="#deactivation_effects">
					What happens when I deactivate?
					</a></br>
					<a class="bold" href="#auto_renew">
					How do I turn auto-renew off?
					</a></br>
					<a class="bold" href="#mailing_list">
					How can I unsubscribe from your mailing list?
					</a></br>
					<a class="bold" href="#refunds">
					What is your refund policy?
					</a></br>
					<a class="bold" href="#billing_info">
					How can I change my billing information?
					</a><p>
					</section>
					<section>
					<h1 class="serif font_24">Your profile & account settings</h1>
					<a class="bold" href="#fill_out_profile">
					How do I fill out my profile?
					</a></br>
					<a class="bold" href="#change_dating_preferences">
					How can I change my orientation and age preferences?
					</a></br>
					<a class="bold" href="#change_username">
					How can I change my username?
					</a><P>
					</section>
					<section>
					<h1 class="serif font_24">Photos</h1>
					<a class="bold" href="#manage_photos">
					How do I manage my photos?
					</a></br>
					<a class="bold" href="#photos_necessary">
					Are photos necessary?</br>
					</a><p>
					</section>
					<section>
					<h1 class="serif font_24">Posting & responding to dates</h1>
					<a class="bold" href="#posting_a_date">
					What happens when I post a date?
					</a>
					<a class="bold" href="#intriguing">
					What happens when I click, I'm interested?
					</a></br>
					<a class="bold" href="#responding_to_a_date">
					What happens when I send a message in response to a date?
					</a></br>
					<a class="bold" href="#ask_out_button">
					What is the Ask Out button?
					</a></br>
					<a class="bold" href="#reposting">
					What is reposting?
					</a><P>
					</section>
					<section>
					<h1 class="serif font_24">Other Features</h1>
					<a class="bold" href="#saving">
					What happens when I favorite a date or follow a profile?
					</a></br>
					<a class="bold" href="#speed_date">
					What is Speed Date?
					</a><P>
					</section>
					<section>
					<h1 class="serif font_24">Safety & Privacy</h1>
					<a class="bold" href="#inappropriate_date_profile">
					What should I do if I see an inappropriate date or profile?
					</a></br>
					<a class="bold" href="#privacy">
					Tell me about privacy. Who can see me on AreYouTaken?
					</a></br>
					<a class="bold" href="#safe_and_private">
					What do you do to make the site safe and private?
					</a></br>
					</section>
					<section>
					
					<br>
					<p>
					If your question is not answered here, feel free to email us at
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					with your username and concern. If your issue is technical in nature, please include
					as much relevant information as possible
					including your issue, browser, device you are using, and error messages.
					</p>
					<!-- ***** The Basics *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">The Basics</h1>
					<dt class="serif">
					<span class="push" id="difference"></span>
					<h2 class="font_22">What makes AreYouTaken different?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					AreYouTaken eliminates the long questionnaires and the fancy algorithms to take online dating back to the basics. Dating companies have added a lot of busy features that claim to help you find the perfect match, but in reality their goal is to increase the amount of time you spend on their website. The more time you spend on their website, the more valuable their company is.<p>
					
				We encourage users to spend less time online by stripping away those features and using their time meeting people in the real world. Browse our large photos (say bye bye to the small boxes) to get a good look at each user and post a date so you can get offline.
				
	
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="get_the_most"></span>
					<h2 class="font_22">How can I get the most out of my AreYouTaken experience?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<ol>
					<li>Sign up</li>
					<li>Upload a photo</li>
					<li>Fill out your profile</li>
					<li>Post a date</li>
					<li>Message the people you like</li>
					<li>Get offline!</li>
					</ol>
				
					<a href="/date-ideas">
					Date Ideas
					</a>
					sections for popular ideas in your area!
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
				
					<dt class="serif">
					<span class="push" id="better_idea"></span>
					<h2 class="font_22">I have an idea about how to make your site better.</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Cool! Email
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					to submit your ideas and feedback. Thanks for helping us improve!
					</p>
					<br>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					
					<!-- ***** Subscription Benefits *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Subscription Benefits</h1>
					<dt class="serif">
					<span class="push" id="cost"></span>
					<h2 class="font_22">Does AreYouTaken cost money? What can I do for free?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>As a free subscriber, you can:</p>
					<ul class="bullets">
					<li>Post dates</li>
					<li>Browse dates and people</li>
					<li>Ask users out on dates</li>
					<li>Fill out your profile</li>
					<li>Check out other profiles</li>
					<li>Message other people</li>
					<li>Say I'm interested</li>
					</ul>
					<p><p>
					In order to gain full messaging capabilities and other benefits such as Speed Date, you'll need to upgrade your account.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="upgrade_benefits"></span>
					<h2 class="font_22">What do I get when I upgrade?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>Member benefits include the ability to:</p>
					<ul class="bullets">
					<li>Send unlimited messages</li>
					<li>Receive and read unlimited messages</li>
					<li>Respond to your Interested dates</li>
					<li>Receive top priority customer service</li>
					<li>Get more dates.</li>
					</ul>
					<p>
					
					<a href="/settings">Settings</a>
					page.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="packages"></span>
					<h2 class="font_22">What are your subscription packages?</h2>
					<dd class="serif">
					<div class="padder">
					<p>
					Our 1-month package is the most popular and the 12-month
					package is the best value.
					</p>
					</div>
					<a href="#top">Return to top</a>
					</dd>
					</dt>
					<dt class="serif">
					<span class="push" id="why_do_you_charge"></span>
					<h2 class="font_22">Why do you charge so little? Just make your service free!</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We charge a small amount because we think it's absurd that the average dating site customer pays $243 per year. We are here to help you find love, and that should only take a few dollars to meet people online. We went against a free model because we did not want to interrupt your dating experience with annoying advertisements. Also when users are paying, they are more committed to really using the site and are serious about dating. A paying model will discourage sketchy people from joining.
					</p>

					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="free_messages_from_others"></span>
					<h2 class="font_22">If I upgrade, can other people message me for free?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>Yes, all registered members can send messages.</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Billing Info & Subscription Settings *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Billing information and subscription settings</h1>
					<dt class="serif">
					<span class="push" id="deactivation"></span>
					<h2 class="font_22">How do I deactivate my account?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					While we'll be sad to see you go, you can deactivate your account by going to
					<a href="/settings">the Settings area</a>
					and scrolling down to Account at the bottom of the page.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="deactivation_effects"></span>
					<h2 class="font_22">What happens when I deactivate?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Once you deactivate, your profile is no longer visible to other members and your paid subscription is canceled,
					if you have one. Your profile will remain invisible unless you decide to reactivate at any point. Please note,
					if you deactivate with a paid subscription, you forfeit the remainder of your subscription and cannot use that
					unused time upon reactivation or be reimbursed for it.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="auto_renew"></span>
					<h2 class="font_22">What is auto-renew? Can I turn auto-renew off?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					All accounts are set to auto-renew to prevent a break in communication. If you'd like to turn this off, simply visit your
					<a href="/settings">Settings</a>
					and scroll to Subscription Status. Click "Unsubscribe" and wait for the page to say, "Subscription ends on (date). It will not auto-renew." You can reverse this action here as well. If auto-renew is on, your subscription will be automatically extended for the same length of time as your original subscription length, at the current subscription rate.
					</p>
					<p>
					If you subscribed directly through iTunes or Google Play, you’ll need to adjust the subscription settings through them. For instructions on how to turn off auto-renew for iTunes,
					<a href="https://support.apple.com/en-us/HT202039">Click here</a>
					.
					</p>
					<p>
					To turn off auto-renew for Google Play, open the Google Play Store application and tap Menu > My Apps > AreYouTaken Dating. Subscriptions will be listed at the top of the page. Tap "Cancel" to turn off auto-renew.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="mailing_list"></span>
					<h2 class="font_22">How can I unsubscribe from your mailing list?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Your email notifications can be removed or adjusted by clicking on &ldquo;Email Settings&rdquo; at the bottom of
					any AreYouTaken email or visiting your
					<a href="/settings">Settings</a>.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="refunds"></span>
					<h2 class="font_22">What is your refund policy?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You are eligible for a refund within 3 days of any transaction. If you’d like a refund, please email us
					at <a href="mailto:refund@howaboutwe.com">refund@howaboutwe.com</a> with the reason for your refund request.
					Refunds are reflected in your account within 5 business days.
					</p>
					<p>
					Auto-renewal fees are not refunded if requested more than 3 days after billing. If you wish to turn off auto-renew, simply visit
					<a href="/settings">Settings</a>
					and adjust your account on the bottom.
					</p>
					<p>
					If you deactivate your account before your subscription term has ended, you forfeit the remainder of your subscription
					term, and will not be refunded for the unused time.
					</p>
					<p>
					Please note, per Apple’s developer restrictions, we cannot issue refunds for iTunes purchases and this includes our &ldquo;100% Offline Guarantee.&rdquo;
					<a href="http://support.apple.com/kb/ht4098">Click here</a>
					for instructions on how to cancel your subscription in-app and request a refund from Apple.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="billing_info"></span>
					<h2 class="font_22">How can I change my billing information?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can change your billing information at any time under
					<a href="/settings">Settings</a>
					and &ldquo;Subscription Status&rdquo;.
					</p>
					</div>
					</dd>
					</dl>
					<!-- ***** Your Profile & Account Settings *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Your profile &amp; account settings</h1>
					<dt class="serif">
					<span class="push" id="fill_out_profile"></span>
					<h2 class="font_22">How do I fill out my profile?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can add/edit info by visiting your profile at any time.
					Click the pencils to answer the questions and upload pictures in
					the &ldquo;My Photos&rdquo; section. Remember -- put your best foot forward.
					The more complete your profile, the more responses you’ll get.
					Let people get to know you!
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="change_dating_preferences"></span>
					<h2 class="font_22">How can I change my orientation and age preferences?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Go to your Account Settings, then click on the
					<a href="/settings/dating">Dating Preferences</a>
					tab. There, you can select the age range and gender of your desired dates.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="visitor_count"></span>
					<h2 class="font_22">What is the visitor count?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					When you visit someone else’s profile, we let them know that you were checking them out. Then they
					can message you or ask you out if they wish. And don’t worry, if you visit someone’s profile
					multiple times, you’ll only be shown once.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="attract_more_visitors"></span>
					<h2 class="font_22">How can I attract more visitors to my profile?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					The best way to drive more traffic to your profile is to keep posting dates. Whenever you think of a fun activity,
					go ahead and post it! This will keep your profile consistently appearing in the date stream, which is the first
					place people look when they enter the site. Having varied dates that show off your range of interests also means
					that you’ll appear in more search results. Have fun with it!
					</p>
					<p>
					It’s also important to upload up-to-date photos and take the time to craft thoughtful answers to your profile questions.
					Your profile is your first impression - make it count!
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="change_username"></span>
					<h2 class="font_22">How can I change my username?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We are happy to change your username for you. Simply email
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					and we will send you further information.
					Because your username is public, it's not advisable to include any personal information.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Photos *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Photos</h1>
					<dt class="serif">
					<span class="push" id="manage_photos"></span>
					<h2 class="font_22">How do I manage my photos?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can upload a photo by visiting your profile and scrolling down to the &ldquo;My Photos&rdquo; section.
					From there, select &ldquo;Upload a Photo&rdquo; from your computer or import from Facebook. Be sure to upload
					a variety of photos. The more photos you post, the better your chances of getting responses. You must have at
					least one photo to be shown to other users.
					</p>
					<p>
					When you scroll over a picture, you also have the option to delete that image or make it your profile picture.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="photos_necessary"></span>
					<h2 class="font_22">Are photos necessary?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Yes! We don’t show picture-less profiles in the date stream, meaning you'll barely get any responses.
					The more pictures you post, the better. People who have at least three photos get twice as many messages
					as people with only one photo.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="photo_requirements"></span>
					<h2 class="font_22">What are your photo requirements?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Make sure you put your best digital foot forward and upload clear, up-to-date photos. We accept JPEG, GIF and PNG files
					under 10MB. Make sure your photos are cropped before you upload them. For best results in your user thumbnail,
					keep your face in the upper left corner. Obviously, any pictures that are not of you or are offensive are
					not allowed and will be deleted.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Posting & Responding To Dates *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Posting &amp; responding to dates</h1>
					<dt class="serif">
					<span class="push" id="great_date"></span>
					<h2 class="font_22">What makes a great date suggestion?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<ul class="bullets">
					<li>
					<span class="bold">Suggest something that you'd actually like to do.</span>
					You'll have a better time and you're much more likely to connect with someone who you'll really get along with.
					</li>
					<li>
					<span class="bold">Be specific.</span>
					You'll get more responses with: &ldquo;How About We&hellip; go see The Godfather at this awesome
					little art house theater I know,&rdquo; than &ldquo;How About We&hellip; see a movie.&rdquo;
					</li>
					<li>
					<span class="bold">Don't stress.</span>
					It's not a test. Just pick an activity that sounds interesting to you and post it. Post a date
					anytime the thought pops in your head.
					</li>
					</ul>
					<p>
					For more helpful tips, visit our
					<a href="http://www.howaboutwe.com/date-report/categories/online-dating/online-dating-101/">Online Dating 101.</a>
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="posting_a_date"></span>
					<h2 class="font_22">What happens when I post a date?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					When you post a date, two things happen.
					<ol>
					<li>
					Other users can then find it in their date stream or by searching for dates;
					</li>
					<li>
					We use our matching algorithm to send your date via email to people who might like it.
					</li>
					</ol>
					<br>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="intriguing"></span>
					<h2 class="font_22">What happens when I click, &ldquo;I'm intrigued?&rdquo;</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					When you click &ldquo;I'm Intrigued,&rdquo; we send a short message to that user letting him or
					her know that you are intrigued by their date. Intrigues let people know you’re interested, so you
					can start a more serious conversation through messaging later on.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="responding_to_a_date"></span>
					<h2 class="font_22">What happens when I send a message in response to a date?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					When you send a message, it goes to the user you sent it to through our messaging system. That person may also get
					an email message saying that he or she has a new message on AreYouTaken. Neither your email address nor the
					email address of the user you are sending a message to are ever revealed in this process.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="ask_out_button"></span>
					<h2 class="font_22">Can I send a date to a specific user? What is the &ldquo;Ask Out&rdquo; button?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					If you click the &ldquo;Ask him/her out&rdquo; button, you can send another user a private date. In this case,
					ONLY that user sees the date -- no one else does. These get delivered just like messages. You can see all of these
					dates in the Private Dates tab in your profile.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="date_ideas"></span>
					<h2 class="font_22">What is the Date Ideas section?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					The Date Ideas section is a dater's gold mine. Here, we’ve compiled all the top date ideas from around the country
					and in your neighborhood. Go ahead and repost these dates by clicking “Like”, or use them as inspiration in
					creating your own dates. Need a warm weather date? A holiday date? A popular, sure-to-please date? This
					is the place to go.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="no_response"></span>
					<h2 class="font_22">What if I write to someone and don't hear back?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Don’t worry about it! The key is to stay active. Post more dates, browse date ideas, and respond to
					people you like. Paid subscribers can also look at the &ldquo;Subscribers You Might Like&rdquo; sidebar
					for other users who have messaging privileges.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="reposting"></span>
					<h2 class="font_22">What is reposting?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					When you repost a date, you are posting another person’s date idea -- from you. When someone sees your post,
					they’ll be able to respond to that idea.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Other Features *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Other Features</h1>
					<dt class="serif">
					<span class="push" id="saving"></span>
					<h2 class="font_22">What happens when I favorite a date or profile?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Clicking “Favorite” in a profile or the star on a specific date will bookmark it for later. When you f
					avorite a date or profile, the other user will not be notified.
					</p>
					<p>
					You can find your saved items in the
					<a href="/saves">
					“Favorites”
					</a>
					section of your account.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="hiding"></span>
					<h2 class="font_22">What happens if I hide a user? Can I unhide them?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					If you’d rather not see a particular user, you can click “Hide” in that person’s profile, or click the X on
					any date. When you do this, you will no longer see that person’s dates or messages.
					</p>
					<p>
					All your hidden people are listed in the
					<a href="/settings/dating">Dating Preferences</a>
					area of your Account Settings and can be unhidden on this page as well.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="speed_date"></span>
					<h2 class="font_22">What is Speed Date?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Speed Date is a fun game in which you can quickly express interest in going on suggested dates. Try Speed
					Date by clicking the &ldquo;Play&rdquo; tab on the top of your home screen. You can let other users know you’re
					intrigued, and if you’re not interested, they’ll never know.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="organizing"></span>
					<h2 class="font_22">How can I organize my messages?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We have a host of features that help you focus on the messages and users you want. You can delete,
					archive, or mark messages as unread from your inbox and within a message thread. You can also
					choose to hide certain messages, like &ldquo;intrigues&rdquo; and those from users more than
					150 miles away, without a photo, and/or outside of your specified age range.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Safety & Privacy *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Safety &amp; Privacy</h1>
					<dt class="serif">
					<span class="push" id="inappropriate_date_profile"></span>
					<h2 class="font_22">What should I do if I see an inappropriate date or profile?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					First, we’re sorry you encountered this. To tell us about possibly inappropriate dates,
					you can click on the X icon in the date and select &ldquo;Report as Spam.&rdquo; You
					can also click &ldquo;Report&rdquo; on any person’s profile. When you do this, we are
					immediately alerted and a customer service associate will immediately address the issue.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="privacy"></span>
					<h2 class="font_22">Tell me about privacy. Who can see me on AreYouTaken?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					To make your profile private, and thus only viewable by users logged into AreYouTaken, visit the
					<a href="/settings">Settings</a>
					page and select &ldquo;Only let people who are signed into AreYouTaken view my profile&rdquo;.
					</p>
					<p>
					Date Ideas and the Date Report are public by default, so if you have commented or liked items
					in those areas, anyone can see those contributions.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="safe_and_private"></span>
					<h2 class="font_22">What do you do to make the site safe and private?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Our #1 priority is creating a safe, fun, and positive environment for our community. We take user
					protection extremely seriously. We’ve designed a multi-tiered strategy to enforce this, including:
					</p>
					<ul class="bullets">
					<li>We ask that all date proposals take place in public places.</li>
					<li>
					We ask people to flag suspicious date proposals, profiles, and messages so that we can
					investigate them immediately. This includes requests for money, efforts to sell you anything,
					job offers or any other &ldquo;special opportunity&rdquo;, harassment or offensive messages,
					proposals of non-public or sexual dates, inappropriate photos, or anything else that violates our
					<a href="/terms-of-use">Terms of Use</a>.
					</li>
					<li>
					We've built a sophisticated automated defense system that flags suspicious behavior with a
					spectrum of triggers that include messaging frequency, IP address, and verbiage.
					</li>
					<li>
					We charge for subscriptions that require credit card payment through our third-party
					payment processor.
					</li>
					<li>
					We try to create a general tone of safety, authenticity, and positivism.
					</li>
					<li>
					We delete or disable accounts that violate our
					<a href="/terms-of-use">Terms of Use</a>.
					</li>
					</ul>
					<p>Note: We do not currently conduct criminal background checks on users.</p>
					<p>
					Of course, as with everything on the Internet, we ask that you exercise caution when
					disclosing personal information and meeting people. For more details, see our
					<a href="/dating-safety">Online Dating Safety Tips.</a>
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="deletion"></span>
					<h2 class="font_22">My date was deleted. Why?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We screen dates so that we can keep the community positive, safe, and focused on great
					off-site connections. Dates that do not follow our date guidelines will be removed.
					Please be sure that your date:
					</p>
					<ul class="bullets">
					<li>Describes an actual date idea -- a place you'd like to go or an activity you'd like to do.</li>
					<li>Takes place in public.</li>
					<li>Does not contain any sexual or profane content.</li>
					<li>Does not include personal contact information.</li>
					</ul>
					<br>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Technical *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Technical</h1>
					<dt class="serif">
					<span class="push" id="browsers"></span>
					<h2 class="font_22">Which browsers are most compatible with AreYouTaken?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Whenever possible, AreYouTaken is best experienced using Google Chrome or Safari. If
					you are using Internet Explorer 6 or 7, you must upgrade your browser to a more recent version.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="technical_issues"></span>
					<h2 class="font_22">I'm having technical issues but cannot find my answer here. What should I do?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					If you're having a technical problem, please provide as much information as possible at
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>.
					&ldquo;Not working&rdquo; oftentimes doesn’t cut it. These details will help us
					resolve your issue more effectively:
					</p>
					<ul class="bullets">
					<li>Internet browser</li>
					<li>Screenshots of issue</li>
					<li>Error messages</li>
					<li>What you are not able to access/see</li>
					<li>Are you accessing AreYouTaken from a computer? iPhone? Android device? iPad?</li>
					</ul>
					<br>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="security_issue"></span>
					<h2 class="font_22">I may have discovered a security vulnerability. What do I do?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					You can report a bug or vulnerability via our
					<a href="https://hackerone.com/howaboutwe">Responsible Disclosure Policy</a>.
					We'll make every effort to investigate and correct the issue.
					</p>
					<br>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					<!-- ***** Business Stuff *****/ -->
					<dl class="dove_gray">
					<h1 class="serif font_24">Business Stuff</h1>
					<dt class="serif">
					<span class="push" id="long_term"></span>
					<h2 class="font_22">What are the long-term plans for AreYouTaken?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					We want AreYouTaken to help define love in our time. If we do a great job, then
					millions of people will start their relationships with a AreYouTaken date -- what an
					amazing way for love to begin. To make this happen, we're constantly improving our site,
					building new features, and finding ways to get awesome people to join.
					</p>
					<p>
					In that vein, please email
					<a href="mailto:yo@areyoutaken.com">
					yo@areyoutaken.com
					</a>
					to let us know where you think we can improve. And help us spread the word by
					<a href="/invite_friends">
					inviting your friends
					</a>
					and talking about AreYouTaken.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="partnerships"></span>
					<h2 class="font_22">Are you guys interested in partnerships?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Yes. We want to build partnerships with services that will help make the AreYouTaken
					experience better for our users. And we want to build partnerships with people who can share
					the AreYouTaken idea with lots of people. If you have an idea for a partnership, contact us at
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="advertising"></span>
					<h2 class="font_22">Can I advertise on AreYouTaken?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Users on AreYouTaken are constantly posting and going on dates. Our site has a database
					of great date ideas that our users can post with a single click. If you are in this database and
					your establishment or event is a great date, people will post it. It’s an awesome, organic way to
					advertise, and for now, it’s free. In return, we ask that you please spread the word about the date
					on AreYouTaken featuring your business. Just email us at
					<a href="mailto:yo@areyoutaken.com">yo@areyoutaken.com</a>
					and we'll talk.
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					<dt class="serif">
					<span class="push" id="contributing"></span>
					<h2 class="font_22">I love the Date Report. How can I become a contributor?</h2>
					</dt>
					<dd class="serif">
					<div class="padder">
					<p>
					Please send pitches and links to writing samples to
					<a href="mailto:editorial@howaboutwe.com">
					editorial@howaboutwe.com
					</a>
					</p>
					<a href="#top">Return to top</a>
					</div>
					</dd>
					</dl>
					</div>
					</div>
					</div>

					</div>
					</section>

            </div>
        </div>
    </div>
</div>
